@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ffffff;
  color: #000;
  font-size: 40px;
  font-weight: bold;
}
